body{
    background-color: rgb(13, 26, 45);
    display: grid;
    justify-content: center;
    font-weight: 300;
}
article{
    background-color: rgb(21,39,63);
    margin-top: 20%;
    border-radius: 10px;
}
#measure{
    color: rgb(107,233,227);
}
.name{
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}
article{
    max-width: 20em;
    padding: 6%;
    box-shadow: 0px 0px 10px rgb(2, 26, 58);
}
h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    color: white;
}
p{
    color: rgb(79,100,128);
}
hr{
    font-weight: lighter;
}
#description{
    max-width: 15em;
}
#image1{
    max-width: 100%;
    border-radius: 10px;

}
.main__measure p{
    margin-left: 39%;
}
hr{
    color: blue;
}
#small{
    width: 2em;
    height: 2em;
    border: solid 0.5px white;
    border-radius: 50%;
    margin-top: 3%;
    margin-right: 6%;
}
.last_content{
    display: flex;
}
.last::before{
    content: '';
    background-color: rgb(38, 73, 97);
    display: block;
    width: 17em;
    height: 0.5px;
}